*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.admin_dashboard{
    display: flex;
    width: 100%;
    height: auto;


}
.dashb{
    display: flex;
    flex-direction: column;

}
.dashb h1{
    font-size: 18px;

}
.adm_cont{
    width: 110%;
    height: 30%;
    margin-bottom: 1%;
}
.adm_cont h1{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
    margin-left:29%;
    margin-top: 12%;
}
.oval {
    width: 60px;
    height: 80px;
    position: relative;
    border-radius: 50% / 50%;
    top: 4%;
    left: 2%;
  }

  .t1{
    width: 60px;
    height: 80px;
    position: absolute;

    border-radius: 50% / 50%;
    top: 4%;
    left: 2%;
    background-size: cover;
    border: 1px solid blue;


  }

#nav{
    background:linear-gradient(to bottom, orange, green);
    width: 25%;
    max-width: 25%;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    position: relative;


}
#nav ul{
    padding-bottom: 20px;
    margin: 0 auto;
    display: inline-block;


}
#nav ul li{
    margin-bottom: 10px;
    

}
#nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

