.users{
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 2%;
    margin-bottom: 2%;
    float: right;
    justify-content: center;
    margin: 0 auto;

}
.users h1{
    text-align: center;
}
.enrollments{
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 2%;
    margin-bottom: 2%;
    float: right;
    justify-content: center;
    margin: 0 auto;

}
.enrollments h1{
    text-align: center;
}

.table{
    margin: 0 auto;


}

.t-head{
    width: 100%;
    background-color: rgb(1,1, 90);
    color: white;
}
.table-r{
}
.th{
    margin: 100px;
    width: 15%;
    padding: 5px 40px;
    white-space: nowrap;

}
.users button{
    margin-left: 15%;
    
}
#submit{
    background :linear-gradient(to right, green, orange);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    margin: 20px;

}
#submit:hover{
    background :linear-gradient(to right, orange, green);
    transform: translateY(-10px);
    color: black;

}